{% extends "../base.html" %}

{% block contents %}

    <h3>회원가입</h3>
    <hr />
    <!-- html 주석문 -->
    <form action="/member/auth_join" method="POST">
    {% csrf_token %}
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 70px;">아이디</span>
        </div>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 70px;">암  호</span>
        </div>
            <input type="password" name="password" class="form-control" />
        </div>
        <!-- <p>암호확인 : <input type="password" /></p> -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 70px;">이  름</span>
            </div>
            <input type="text" name="first_name" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 70px;">이메일</span>
            </div>
            <input type="text" name="email" class="form-control" /></p>
        </div>
        <input type="submit" value="회원가입" class="form-control" />
    </form>
    
{% endblock contents %}