<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  <body>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      {% comment %} <h2>Section title</h2> {% endcomment %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          
          <!-- 2000 ~ 2009 년 테이블 -->
          <thead>
            <tr>
              {% for year in yearData|slice:"0:10" %}
              <th>{{ year }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for data in commaData|slice:"0:10" %}
              <td>{{ data }}</td>
              {% endfor %}
            </tr>
          </tbody>
          <!-- 2010 ~ 2019 년 테이블 -->
          <thead>
            <tr>
              {% for year in yearData|slice:"10:20" %}
              <th>{{ year }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for data in commaData|slice:"10:20" %}
              <td>{{ data }}</td>
              {% endfor %}
            </tr>
          </tbody>

        </table>
      </div>
    </main>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{# <script src="/static/js/dashboard.js"></script> #}
<script>
 /* globals Chart:false, feather:false */

  (function () {
    'use strict'

    var countryData = eval('{{countryData}}')  //[1,2,3,4,5,]  => js array로 변경
    var yearData = eval('{{yearData}}')

    feather.replace()
    
    // Graphs
    var ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: yearData,   // 연도
        datasets: [{
          data: countryData,  // 국가별 여행자수
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false
        }
      }
    })
  }())
  </script>      
  </body>
</html>
